* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clock {
    width: 700px;
    height: 700px;
    margin: 50px auto;
    border: 1px solid brown;
    position: relative;
}

#sec {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 200px;
    top: 0;
    z-index: 2;
}

#min {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 200px;
    top: 0;
    z-index: 1;
}